<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    {% if page.title %}
      <title>{{ page.title }} - John Calsbeek</title>
    {% else %}
      <title>John Calsbeek</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="John Calsbeek">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="/js/modernizr.custom.51876.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">John Calsbeek</a>
        </div>
      </div>
    </div>
    
    <div class="container">
      {% if page.title %}
        <header class="page-header">
          <h2>{{ page.title }}</h2>
        </header>
      {% endif %}
      {{ content }}
    </div>
    <script type="text/javascript">
      Modernizr.load([
        {
          load: '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js',
          complete: function () {
            if (!window.jQuery) {
              Modernizr.load('/js/jquery-2.1.1.min.js');
            }
          }
        },
        {
          load: '/js/bootstrap.min.js',
          complete: function () {
            if (window.pageInit) {
              window.pageInit();
            }
          }
        }
      ]);
    </script>
  </body>
</html>
