<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <title>{{ page.title }} - John Calsbeek</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="John Calsbeek">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="/js/modernizr-2.0.6.min.js"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">John Calsbeek</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/resume.html">R&eacute;sum&eacute;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <header>
        <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
      <footer>
      </footer>
    </div>
    <script type="text/javascript">
      Modernizr.load([
        {
          load: '//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js',
          complete: function () {
            if (!window.jQuery) {
              Modernizr.load('/js/jquery-1.7.1.min.js');
            }
          }
        },
        {
          load: '/js/bootstrap.min.js'
        }
      ]);
    </script>
  </body>
</html>
